Dear Recipient,

Someone requested a new password on: [% server_name %] and gave this
email address which is attached to your user account.  If this was
you, you can create a new login password by using the url below.


[% url %]


Account information:

Username: [% login %]
Recovery key: [% key %]


We hope you enjoy our service at [% server_name %].

The Management
