[% IF previous_answer != "" %][% MTN.t('%1$s rescheduling: is %2$s ok for you?',[meeting_title, scheduling_option]) %][% ELSE %][% MTN.t('%1$s scheduling: is %2$s ok for you?',[meeting_title, scheduling_option]) %][% END%]