[% IF rsvp_required %][% MTN.t('Attention: Your RSVP required for %1$s',[meeting_title]) %][% ELSIF time_was_changed %][% MTN.t('Attention: Time has been updated for %1$s',[meeting_title]) %][% ELSIF proposal_was_chosen %][% MTN.t('Attention: Time has been set for %1$s',[meeting_title]) %][% ELSIF time_is_set %][% MTN.t('Attention: Time has been set for %1$s',[meeting_title]) %][% ELSIF time_was_cleared %][% MTN.t('Attention: Time has been removed from %1$s',[meeting_title]) %][% END %]