[% IF matchmaking_event %][% IF requester_company && requester_name == requester_email %][% MTN.t('%1$s has requested a meeting at %2$s', [requester_company, matchmaking_event]) %][% ELSIF requester_company %][% MTN.t('%1$s from %2$s has requested a meeting at %3$s', [requester_name, requester_company, matchmaking_event]) %][% ELSE %][% MTN.t('%1$s has requested a meeting at %2$s', [requester_name, matchmaking_event]) %][% END %][% ELSE %][% IF requester_company && requester_name == requester_email %][% MTN.t('%1$s has requested a meeting with you', [requester_company]) %][% ELSIF requester_company %][% MTN.t('%1$s from %2$s has requested a meeting with you', [requester_name, requester_company]) %][% ELSE %][% MTN.t('%1$s has requested a meeting with you', [requester_name]) %][% END %][% END %]