[% IF week_before %][% MTN.t('Your Meetin.gs trial is about to expire') %][% ELSIF day_before %][% MTN.t('Meetin.gs pro trial will expire tomorrow') %][% ELSIF trial_ended %][% MTN.t('Meetin.gs pro trial expired') %][% END %]