[% IF in_html %]<p style="line-height:25px; font-size:[% IF tip %]12[% ELSE %]15[% END %]px; color:[% IF tip %]#a4a3a3[% ELSE %]#4a4a4a[% END %]; margin-top:15px; margin-bottom:15px; margin-left:[% IF inthebubble %]15[% ELSE %]50[% END %]px; margin-right:[% IF inthebubble %]15[% ELSE %]50[% END %]px; font-family:Arial,Verdana,sans-serif;[% IF pwidth %]width:[% pwidth %]px;[% END %]">[% ELSE %][% END %][% tip = 0 %][% MTN.t("Hi there,") %][% IF in_html %]</p>[% ELSE %]

[% END %][% IF in_html %]<p style="line-height:25px; font-size:[% IF tip %]12[% ELSE %]15[% END %]px; color:[% IF tip %]#a4a3a3[% ELSE %]#4a4a4a[% END %]; margin-top:15px; margin-bottom:15px; margin-left:[% IF inthebubble %]15[% ELSE %]50[% END %]px; margin-right:[% IF inthebubble %]15[% ELSE %]50[% END %]px; font-family:Arial,Verdana,sans-serif;[% IF pwidth %]width:[% pwidth %]px;[% END %]">[% ELSE %][% END %][% tip = 0 %][% MTN.t("I've found Meetin.gs useful for organizing meetings.") %][% IF in_html %]</p>[% ELSE %]

[% END %][% IF in_html %]<p style="line-height:25px; font-size:[% IF tip %]12[% ELSE %]15[% END %]px; color:[% IF tip %]#a4a3a3[% ELSE %]#4a4a4a[% END %]; margin-top:15px; margin-bottom:15px; margin-left:[% IF inthebubble %]15[% ELSE %]50[% END %]px; margin-right:[% IF inthebubble %]15[% ELSE %]50[% END %]px; font-family:Arial,Verdana,sans-serif;[% IF pwidth %]width:[% pwidth %]px;[% END %]">[% ELSE %][% END %][% tip = 0 %][% IF in_html %]<br />[% ELSE %]
[% END %]-- [% inviting_user_name %][% IF in_html %]</p>[% ELSE %]

[% END %]