[%- WRAPPER dicole_mobile::mobile_main title = 'Dicole: ' _ group.name -%]>
<div class="toolbar anchorTop">Tools ([% tools.size %])</div>
<a class="button" href="/m/logout">Logout</a>
<a id="homeButton" class="button" href="/m/groups">Back</a>
<div class="center">
[% FOREACH tool = tools %]
<div class="item"><a href="/m/[% tool.toolid %]/[% group.id %]">[% tool.name %]</a></div>
[% END %]
</div>
[%- END -%]