[%- WRAPPER dicole_mobile::mobile_main title = 'Dicole menu' -%]
<div class="toolbar anchorTop">Dicole</div>
<a class="button" href="/m/logout">Logout</a>
<div class="center">
<div class="item"><a href="/m/blog_posts">Blog posts</a></div>
<div class="item"><a href="/m/groups">Groups</a></div>
<br /><br /><br />
<div class="toolbar anchorBottom">[% firstname %] [% lastname %]</div>
</div>
[%- END -%]