[% # $Id: default_add_edit.tmpl,v 1.2 2009-01-07 14:42:33 amv Exp $ # %]
<div class="helpTitle">[% MSG('doc.default.add_edit.title') %]</div>
<span class="fieldRequiredMarker">&laquo;</span> [% MSG('doc.default.add_edit.blue_arrow') %]<br />
<span class="fieldErrorMarker">&laquo;</span> [% MSG('doc.default.add_edit.red_arrow') %]<br />
<div class="helpTitle">[% MSG('doc.default.add_edit.save_title') %]</div>
<ul>
<li>[% MSG('doc.default.add_edit.buttons') %]</li>
</ul>
[% MSG('doc.default.add_edit.presentation') %]
