[% # $Id: default_search.tmpl,v 1.2 2009-01-07 14:42:33 amv Exp $ # %]
<div class="helpTitle">[% MSG('doc.default.search.title') %]</div>
[% MSG('doc.default.search.intro') %]
<ul>
<li>[% MSG('doc.default.search.buttons') %]</li>
<li>[% MSG('doc.default.search.field') %]</li>
<li>[% MSG('doc.default.search.criteria') %]</li>
<li>[% MSG('doc.default.search.operators') %]</li>
</ul>
<div class="helpExample">
<b>*</b> [% MSG('doc.default.search.star') %]
<b>?</b> [% MSG('doc.default.search.question') %]
<div class="helpTitle">[% MSG('doc.default.search.example') %]</div>
<b>j*</b>
[% MSG('doc.default.search.example1') %]

<b>*n</b>
[% MSG('doc.default.search.example2') %]

<b>john</b>
[% MSG('doc.default.search.example3') %]

<b>*oh*</b>
[% MSG('doc.default.search.example4') %]

<b>j*n</b>
[% MSG('doc.default.search.example5') %]

<b>?e*</b>
[% MSG('doc.default.search.example6') %]
</div>
