[% # $Id: default_list.tmpl,v 1.2 2009-01-07 14:42:33 amv Exp $ # %]
<div class="helpTitle">[% MSG('doc.default.list.title') %]</div>
<ul>
<li>[% MSG('doc.default.list.links') %]</li>
<li>[% MSG('doc.default.list.count') %]</li>
<li>[% MSG('doc.default.list.browse') %]</li>
<li>[% MSG('doc.default.list.sort') %]</li>
<li>[% MSG('doc.default.list.sort_order') %]</li>
</ul>
