[% # $Id: default_remove.tmpl,v 1.2 2009-01-07 14:42:33 amv Exp $ # %]
<div class="helpTitle">[% MSG('doc.default.remove.title') %]</div>
[% MSG('doc.default.remove.intro') %]
<ul>
<li>[% MSG('doc.default.remove.checkboxes') %]</li>
<li>[% MSG('doc.default.remove.buttons') %]</li>
<li>[% MSG('doc.default.remove.confirmation') %]</li>
</ul>
