[% # $Id: default_archive.tmpl,v 1.2 2009-01-07 14:42:33 amv Exp $ # %]
<div class="helpTitle">[% MSG('doc.default.archive.title') %]</div>
[% MSG('doc.default.archive.intro') %]
<ul>
<li>[% MSG('doc.default.archive.buttons') %]</li>
<li>[% MSG('doc.default.archive.read_only') %]</li>
<li>[% MSG('doc.default.archive.restore') %]</li>
<li>[% MSG('doc.default.archive.permanent_remove') %]</li>
</ul>
