[% # $Id: default_show.tmpl,v 1.2 2009-01-07 14:42:33 amv Exp $ # %]
<div class="helpTitle">[% MSG('doc.default.show.title') %]</div>
[% MSG('doc.default.show.intro') %]
<ul>
<li>[% MSG('doc.default.show.buttons') %]</li>
</ul>
