[% sender_name %] kommentoi [% object_name %]! Tässä kommentin sisältö:

[% comment_content_text %]


Jatka keskustelua [% IF group_name %]alueella [% group_name %][% ELSE %]täällä[% END %]:

[% object_url %]
