[% sender_name %] commented on [% object_name %]! Here is the comment:

[% comment_content_text %]


Continue the discussion [% IF group_name %]at [% group_name %][% ELSE %]here[% END %]:

[% object_url %]
