Dear Admin of [% server_url %],

A new user has registered at [% server_url %] with the following information:


login name:    [% login_name %]
email address: [% user_email %]


You may edit the user in question by visiting the following address:


[% user_edit_url %]


--
Dicole installation at [% server_url %]
