// COLORS for green theme
$theme:darkblue;

// Select color
$color-select:#d3eaf5;

// Main color
$color-main:#027bb3;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

// Button colors
$normal-button-begin:#59c1f3;
$normal-button-end:#3da5d6;
$normal-button-bg:#57bff1;

