$theme:green;

// Select color
$color-select:#e2f3e8;

// Main color
$color-main:#467c5a;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

// Button colors
$normal-button-begin:#8ed1a7;
$normal-button-end:#72b58b;
$normal-button-bg:#8dd0a6;

