$theme:grey;

// Select color
$color-select:#eaeaea;

// Main color
$color-main:#767676;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

// Button colors
$normal-button-begin:#bfbfbf;
$normal-button-end:#9c9c9c;
$normal-button-bg:#bababa;


