$theme:pink_red;

// Select color
$color-select:#f7e4e8;

// Main color
$color-main:#994c58;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

// Button colors
$normal-button-begin:#f3a3b6;
$normal-button-end:#d08093;
$normal-button-bg:#ee9eb1;

