$theme:purple;

// Select color
$color-select:#eee8f5;

// Main color
$color-main:#6c5784;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

// Button colors
$normal-button-begin:#b29dc9;
$normal-button-end:#8f7aa6;
$normal-button-bg:#ad98c4;

