$theme:turquoise;

// Select color
$color-select:#dcf1f3;

// Main color
$color-main:#06949d;
$color-main-hover:darken($color-main, 10%);
$color-main-light:lighten($color-main, 40%);

// Button colors
$normal-button-begin:#74cfd7;
$normal-button-end:#51acb5;
$normal-button-bg:#71ccd5;

