<a id="[% editor_id %]_attachment_post_url" href="[% attachment_post_url | html %]"></a>
<a id="[% editor_id %]_attachment_list_url" href="[% attachment_list_url | html %]"></a>
<div id="[% editor_id %]_attachment_upload_container" class="attachment_upload_container">
        <a class="dicole_tinymce3_submit_small_outer attachment_upload_link" href="#" onclick="return false;">
            <span class="dicole_tinymce3_submit_small_inner attachment_upload_text" id="[% editor_id %]_attachment_upload_text">[% MSG('Loading uploader...') %]</span>
        </a>
        <span id="[% editor_id %]_attachment_upload_button_placeholder"></span>
</div>
<div id="[% editor_id %]_attachment_list_container" class="attachment_list_container">
<div id="[% editor_id %]_attachment_queue_separator"></div>
</div>