<div  id="toolbar_cancel_query">
<div id="edit_cancel_controls">
    <a class="dicole_tinymce3_submit_small_outer dicole_cancel" href="#" onclick="return false;" id="cancel_accept"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Cancel editing') %]</span></a>
    <a class="dicole_tinymce3_submit_small_outer dicole_continue" href="#" onclick="return false;" id="cancel_back"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Continue editing') %]</span></a>
</div>
</div>