<form accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="Form" method="post" name="Form" >
<div class="toolPath blueLinks"><!-- toolPath --></div>

<!-- ===== Tool content ===== -->

<div class="toolContent i_am_a_happy_popup">
    <table class="toolContentAlign">
        <tr>        
            <td width="">                <div class="toolContentBox">
                    <span class="boxLegend">[% msg.embedded_html | html %]</span>

                    <div class="contentItemContainer blueLinks">[% msg.type_html | html %]
                    </div>
                    <div class="contentItemContainer blueLinks"><textarea id="embedded_html" name="embedded_html" rows="20" cols="60"></textarea>
                    </div>
                    <div class="contentItemContainer blueLinks"><div  class="horizontalContent">
<span class="horizontalContentItem">
    <a href="#" class="linkButton tinymce3_execute_html_popup" onclick="return false;">[% msg.save | html %]</a>

</span>
<span class="horizontalContentItem">

    <a href="#" class="linkButton tinymce3_cancel_popup" onclick="return false;">[% msg.cancel | html %]</a>

</span>
</div>

                    </div>
                </div>            </td>        </tr>
    </table>
</div>
</form>
