<div>
    <span class="dicole_tinymce3_html_area_text">[% MSG('Embed code') %]:</span><br/>
    <textarea id="[% editor_id %]_dicole_html_area" class="dicole_tinymce3_html_area" /></textarea>
</div>
<div>
    <a class="dicole_tinymce3_submit_small_outer dicole_tinymce3_html_submit" href="#" onclick="return false;" id="[% editor_id %]_dicole_html_area_submit"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Embed') %]</span></a>
</div>