<span class="dicole_image_input_text">[% MSG('Image URL:') %]</span> <input type="text" class="dicole_image_input" id="[% editor_id %]_dicole_image_src" />
<a class="dicole_tinymce3_submit_small_outer dicole_image_src_submit" href="#" onclick="return false;" id="[% editor_id %]_dicole_image_src_submit"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Add image') %]</span></a>