<div id="toolbar_comment_query">
    <div id="edit_confirm_box">
        <div><input class="dicole_save_input" type="text" id="edit_description" value="[% MSG('What did you change?') %]" /></div>
        <div>
            <input type="hidden" id="change_minor" value="0" />
            <a class="dicole_tinymce3_submit_small_outer dicole_save" href="#" onclick="return false;" id="confirm_save"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Save') %]</span></a>
            <a class="dicole_tinymce3_submit_small_outer dicole_save_invisible" href="#" onclick="return false;" id="confirm_save_invisible"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Invisible save') %]</span></a>
            <a class="dicole_tinymce3_submit_small_outer dicole_save_cancel" href="#" onclick="return false;" id="confirm_cancel"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Continue editing') %]</span></a>
        </div>
    </div>
</div>