<div>
    <input id="[% editor_id %]_dicole_showroom_title" class="dicole_tinymce3_showroom_title" type="text" value="[% MSG('Title') | html %]" /><br />
    <textarea id="[% editor_id %]_dicole_showroom_area" class="dicole_tinymce3_showroom_area" />[% MSG('Paste HTML here') | html %]</textarea><br />
    [% MSG('Width') | html %] <input id="[% editor_id %]_dicole_showroom_width" class="dicole_tinymce3_showroom_width" type="text" value="640" /> [% MSG('pixels') | html %]<br />
    [% MSG('Height') | html %]  <input id="[% editor_id %]_dicole_showroom_height" class="dicole_tinymce3_showroom_height" type="text" value="400" /> [% MSG('pixels') | html %]
</div>
<div>
    <a class="dicole_tinymce3_submit_small_outer dicole_tinymce3_showroom_submit" href="#" onclick="return false;" id="[% editor_id %]_dicole_showroom_area_submit"><span class="dicole_tinymce3_submit_small_inner">[% MSG('Insert') | html %]</span></a>
</div>