div.browser-warning
    div.browser-warning-content
        p!=MTN.t('Please note that Meetin.gs might still have some problems with your browser. If possible, please consider using a more modern browser while we fix things.')
