div#meetme-button-tips.m-modal
    div.modal-header
        h3!=MTN.t('Please take note:')
    div.modal-content
        p!=MTN.t('It is recommended to have at least one public meeting scheduler available to share your Meet Me cover page. Please add one now.')
        p!=MTN.t('When you are done you can use the "sharing" link on top of this screen to easily embed your "schedule" button and share your Meet Me cover page as well as your private meeting schedulers.')
    div.modal-footer 
        div.buttons.right
            a(href='#').button.blue.js_hook_showcase_close!=MTN.t('Ok, got it')
