div#start-trial.m-modal
    div.modal-header
        h3!=MTN.t('Thank you!')
    div.modal-content
        p!=MTN.t('Your Meetin.gs PRO subscription is now active. You can continue with the PRO features enabled by clicking continue below.')
    div.modal-footer 
        div.buttons.right
            a(href='#').button.blue.continue!=MTN.t('Continue')
