div.m-modal.youtube-embed
    iframe#ytplayer(type='text/html',width=width,height=height,src='https://www.youtube.com/embed/'+video_id+'?autoplay=1',frameborder=0)
    a.js_hook_showcase_close.close-modal(href='#')
        i.ico-cross
