<div id="modal-page-edit-cancel-confirm" class="m-modal">
    <div class="modal-header">
        <h3 class="modal-header"><%= MTN.t('Stop editing') %></h3>
    </div>
    <div class="modal-content">
        <p><%= MTN.t('Are you sure you want to stop editing and lose your changes?') %></p>
        <form id="meetings_confirm_page_edit_cancel_form">
            <input type="hidden" name="lock_id" value="<%== p.lock_id %>" />
        </form>
    </div>
    <div class="modal-footer">
        <div class="buttons right">
            <a href="#" class="button pink js_meetings_confirm_page_edit_cancel_submit" id="remove-media-submit">
                <%= MTN.t('Yes') %>
            </a>
            <a href="#" class="button gray js_hook_showcase_close">
                <%= MTN.t('No! Continue editing') %>
            </a>
        </div>
    </div>
</div>
