<div id="modal-user-guide" class="modal-popup">
    <h2 class="modal-header"><%= MTN.t('ICS Calendar Feed Instructions') %></h2>
    <p style="margin-left:25px;"><%= MTN.t('Copy your ICS calendar feed:') %></p>
    <form action="#" class="meetings-form">
        <textarea id="" name="" rows="10" cols="30" style="margin-left:25px; width:735px; height:36px;"><%== p.ical_url %></textarea>
    </form>
    <div style="padding:10px; height:520px;">
        <iframe style="width:780px; height:500px;" src="https://docs.google.com/document/pub?id=13SK0M3NdFVAYz4X1rqkWuceAOl3CTcjcpg8SfKDGVCw&amp;embedded=true"></iframe>
    </div>
    <a class="js_hook_showcase_close close-cross alpha_png" href="#"></a>
</div>
