<div class="inplace_editor_container">
    <textarea class="js_meetings_page_editor" style="width:400px;"></textarea>
    <div class="meeting-main-bottom-navbox-wide float-right">
        <a href="#" class="js_meetings_inplace_page_submit" id="inplace-page-submit-button">
            <span class="button-notop blue"><%= MTN.t('Save') %></span>
        </a>
        <a href="#" class="button-notop gray js_meetings_confirm_page_edit_cancel_open">
            <%= MTN.t('Cancel') %>
        </a>
    </div>
</div>
<div style="clear:both;"></div>
