<div id="js_manage_navi_container"></div>
<div id="modal-manage-password" class="modal-popup-admin">
    <h2 class="modal-header"><%= MTN.t('Edit Meeting Password') %></h2>
    <div class="error-container js_meetings_manage_email_error_container error_container_hidden"></div>

    <form id="meetings_manage_password_form" class="meetings-form">
        <fieldset>
            <p>
            <input id="meeting-password" type="text" name="meeting-password" value="<%== p.password %>" />

            <div id="submit" class="form-row centered">
                <a href="#" class="js_meetings_manage_password_enter_submit" id="manage-password-submit">
                    <span class="button pink"><%= MTN.t('Save') %></span>
                    <span class="indicator"></span>
                </a>
            </div>
        </fieldset>
    </form>
    <a href="#" class="js_hook_showcase_close close-cross alpha_png"></a>
</div>
