<div id="modal-edit-media-embed" class="m-modal">
    <div class="modal-header">
        <h3><%= MTN.t('Rename Document') %></h3>
    </div>
    <div class="modal-content">
        <form action="#" id="meetings_rename_page_form" class="meetings-form">
            <input type="hidden" name="page_id" value="<%== p.id %>" />
            <input name="title" value="<%== p.readable_title %>" class="js_meetings_rename_page_enter_submit">
        </form>
    </div>
    <div class="modal-footer">
        <div class="buttons right">
            <a href="#" class="button blue js_meetings_rename_page_submit" id="rename-page-submit">
                <%= MTN.t('Rename') %>
            </a>
        </div>
    </div>
    <a href="#" class="js_hook_showcase_close close-modal"><i class="ico-cross"></i></a>
</div>
