<!-- Admin & no proposals -->
<div class="rsvp-base-bar">
    <h2><%= MTN.t('Are you attending the meeting?') %></h2>
    <!-- Buttons -->
    <div class="scheduler-buttons">
        <a href="#" class="js_set_rsvp_true">
            <span class="button gray"><i class="ico-check"></i><%= MTN.t('Attending') %></span>
        </a>
        <a href="#" class="js_set_rsvp_false">
            <span class="button gray"><i class="ico-cross"></i><%= MTN.t('Not attending') %></span>
        </a>
    </div>
</div>
<div class="drop-shadow"></div>
