<div id="template-chooser">
    <img class="squrre" src="/images/meetings/newmeeting_squrre.png" alt="<%= MTN.t('New meeting') %>">
    <div class="bubble">
        <h3><%= MTN.t('Welcome to Your Meeting Page') %></h3>
        <p><%= MTN.t('This is where you collaborate around the meeting. Start from scratch or use an existing calendar event as a foundation for the meeting:') %></p>
        <div class="tip"></div>
    </div>
    <div class="buttons">
        <a href="#" class="button blue js_start_blank blank">
            <i class="ico-blank"></i>
            <%= MTN.t('Blank meeting') %>
        </a>
        <a href="#" class="button blue js_meetings_gcal_view_open copy">
            <i class="ico-calendar"></i>
            <%= MTN.t('Copy from calendar') %>
        </a>
    </div>
    <a class="js_start_blank close-cross alpha_png" href="#"></a>
</div>
