<div id="modal-user-guide-email" class="modal-popup">
    <div style="height:10px; width: 300px; clear:both;">
    </div>
    <div style="width:700; margin:20px;" id="__ss_7370225">
        <a style="font: 13px Helvetica; color:#999;" href="http://www.meetin.gs/ws-static/files/email_communications.pdf" target="_blank"><%= MTN.t('Download (pdf | 0.2mb)') %></a>
        <object id="__sse10497933" width="700" height="500"> <param name="movie" value="https://static.slidesharecdn.com/swf/ssplayer2.swf?doc=emailcommunications-111207064824-phpapp01&stripped_title=meetings-email-communications&userName=dicole" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <embed name="__sse10497933" src="https://static.slidesharecdn.com/swf/ssplayer2.swf?doc=emailcommunications-111207064824-phpapp01&stripped_title=meetings-email-communications&userName=dicole" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="700" height="500"></embed> </object>

        <p style="margin-top:5px; margin-right:7px; font:18px Helvetica; color:#000; text-align:right;"><%= MTN.t('Is the text too small? Click above for fullscreen.') %> <img alt="Fulscreen" src="/images/meetings/fullscreen_arrow.png"/> </p>
    </div>
    <a class="js_hook_showcase_close close-cross alpha_png" href="#"> </a>
</div>
