<div id="modal-user-guides" class="modal-popup">
    <h2 class="modal-header">Guides</h2>
    <div class="guide-link-container">
        <span class="free"></span>
        <p><a class="js_meetings_user_guide_open" id="getting-started-basic-open" href="#"><%= MTN.t('Getting Started Guide (Basic features)') %></a></p>
    </div>
    <div class="guide-link-container">
        <span class="pro"></span>
        <p><a class="js_meetings_user_guide_pro_open" id="getting-started-pro-open" href="#"><%= MTN.t('Getting Started Guide (Pro features)') %></a></p>
    </div>
    <div class="guide-link-container">
        <span class="email"></span>
        <p><a class="js_meetings_user_guide_email_open" id="email-guide-open" href="#"><%= MTN.t('Email Communications Instructions') %></a></p>
    </div>
    <a class="js_hook_showcase_close close-cross alpha_png" href="#"></a>
</div>





