<domain>
  <avenabled>true</avenabled>
  <allowCalls>getDomainPreferences,getUser,sendArchive,onRoomStatusChange,getAnnouncements,onUserConnectionChange,onUserRoomChange</allowCalls>
  <smileys>
  </smileys>
  <chat>
    <labels>
      <userdata initiallines="0">
        <line>Company</line>
        <line>Profile</line>
      </userdata>
      <lobby>
        <name>Dicole chat</name>
        <description>http://www.dicole.org/</description>
      </lobby>
    </labels>
    <maxroomusers>10</maxroomusers>
    <maxdockitems>3</maxdockitems>
    <characterlimit>2000</characterlimit>
    <userroomcreate>false</userroomcreate>
    <roomemptytimeout>600</roomemptytimeout>
    <maxhistorymessages>0</maxhistorymessages>
    <sendarchive>true</sendarchive>
    <gui>
      <viewprofile>false</viewprofile>
      <instantcommunicator>true</instantcommunicator>
      <addfriend>true</addfriend>
      <block>false</block>
      <images>
      </images>
      <initialinputlines>1</initialinputlines>
    </gui>
    <roomlist>
      <room>
        <name>Admin</name>
        <description>Admin</description>
      </room>
    </roomlist>
    <getannouncementsinterval>-1</getannouncementsinterval>
  </chat>
</domain>
