<div class="cafe_blog_lightbox cafe_lightbox_title">
	<a href="#" class="cafe_lightbox_close"></a>
    <div class="cafe_avatar">
        <a href="<%== p.author_url %>" target="_blank"><img title="<%== p.author_name %>" src="<%== p.author_image %>" target="_blank"></a>
    </div>
    <div class="cafe_lightbox_title_content">
		<h3><%== p.title %></h3>
		<span class="cafe_lightbox_meta">
			<span class="cafe_by_author"><%== dicole.msg('by') %> </span>
			<span class="cafe_author_name"><%== p.author_name %> </span>
			<span class="cafe_timeago"><%== p.date_ago %> </span>
			<div class="cafe_open_original"><a href="<%== p.show_url %>" class="button"><span><%== dicole.msg('Open original') %></span></a></div>
		</span>
	</div>
</div>
<div class="cafe_lightbox_content">
    <%= p.content %>
    <h4 class="cafe_comments_title"><%== dicole.msg('Comments') %></h4>
    <% dojo.forEach( p.comments, function( comment ) { %>
        <div class="cafe_comments_message">
            <div class="cafe_avatar">
			    <img src="<%== comment.user_avatar %>" title="<%== comment.user_name %>"/>
		    </div>
		    <div class="cafe_comments_content">
		        <div class="cafe_comments_meta">
		            <span class="cafe_lightbox_comment_author"><%== comment.user_name %></span> - <span class="cafe_lightbox_comment_date"><%== comment.date %></span>
		        </div>
    		    <div class="cafe_comment_content">
		            <%= comment.content %>
		        </div>
    	    </div>
	    </div>
    <% } ) %>
</div>