<chart>

        	<axis_value font='arial' bold='false' size='10' color='000000' alpha='40' prefix='' suffix='' decimals='0' separator='' show_min='false' />
                <axis_category skip='[% row %]' orientation='diagonal_down' size='12' />


                <chart_value hide_zero='true' alpha='60' size='12' position='cursor' prefix='' suffix='' decimals='0' separator='' as_percentage='true' />


                <axis_ticks value_ticks="true" category_ticks="false" major_thickness="2" minor_thickness="0" minor_count="1" major_color="222222" minor_color="222222" position="centered"/>

	<series_color>
		<color>F0F0F0</color>
		<color>8e2277</color>
		<color>059a00</color>
		<color>0e88c9</color>
		<color>ff9700</color>
	</series_color>


	<chart_border color='000000' top_thickness='0' bottom_thickness='1' left_thickness='0' right_thickness='0' />

	<chart_data>
		<row>
			
			<null/>
			[% FOREACH t IN information %]
				<string>[% t.name %]</string>
			[% END %]
		</row>

	[% FOREACH block = blocks %]
		<row>
			[% IF block.name == '' %]
			<null/>
			[% ELSE %]
			<string>[% block.name %]</string>
			[% END %]

			[% FOREACH t IN information %]
				<number>[% key = block.key; t.$key %]</number>
			[% END %]
		</row>
	[% END %]
        </chart_data>
<chart_rect positive_color='FFFFFF' positive_alpha='15' />

	<chart_type>
		<string>column</string>
		<string>line</string>
		<string>line</string>
		<string>line</string>
		<string>line</string>
	</chart_type>
<series_gap set_gap='0' bar_gap='-15' />
<chart_pref line_thickness='2' point_shape='none' fill_shape='true' />	
<chart_value_text>
		<row>
			
			<null/>
			[% FOREACH t IN information %]
				<string>[% t.name %]</string>
			[% END %]
		</row>

	[% FOREACH block = blocks %]
		<row>
			
			<null/>
			[% FOREACH t IN information %]
				<string>[% t.name %]</string>
			[% END %]
		</row>
	[% END %]
</chart_value_text>



</chart>

