<div id="current_users">
	[% FOREACH user IN users %]
	<div id="user_[% user.id | html %]" class="user-avatar">
		<a href="[% user.url | html %]" title="[% user.name | html %]">
			<img src="[% user.image or '/images/theme/default/default-user-avatar-40px.png' | html %]" alt="[% user.name | html %]" />
		</a>
	</div>
	[% END %]
	<div style="clear:both;float:right"><a href="[% more_users_url %]">[% MSG("Show more users") | html %] &rarr;</a></div>
</div>