/* Media section */
/* 3 side by side boxes */
.show_more_filter_closed { display:none }

a.presentations_list_material_item{
    float:left;
    display:block;
    margin:15px;
    width:240px;
    height:130px;
    padding:15px;
}

a.presentations_list_material_item{
    border:1px solid #ccc;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

a.presentations_list_material_item span.top-wrapper{
    display:block;
    height: 110px;
    overflow: hidden;
    margin-bottom: 10px;
}

.material-tooltip span.title,
a.presentations_list_material_item span.title {
    display:block;
    font: 18px Arial;
    color:#000;
}
.material-tooltip span.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.material-tooltip span.tags,
.material-tooltip span.description,
.material-tooltip span.uploaded-by,
.material-tooltip span.presented-by,
a.presentations_list_material_item span.tags,
a.presentations_list_material_item span.description,
a.presentations_list_material_item span.uploaded-by,
a.presentations_list_material_item span.presented-by {
    display:block;
    font: 13px Arial;
    color:#999;
}

a.presentations_list_material_item:hover {
    text-decoration: none;
    background-color: #eee;
}


a.presentations_list_material_item span.description,
a.presentations_list_material_item span.tags {
    margin:10px 10px 10px 0px;
}

.material-tooltip span.description p,
a.presentations_list_material_item span.description p {
    margin:0px;
    padding:0px;
}

.material-tooltip span.tags {
margin: 0px;
margin-bottom: 10px;
}

.material-tooltip span.description {
border-bottom: 1px solid #999;
margin: 0px;
padding: 0px;
padding-bottom: 5px;
margin-bottom: 10px;
}

.material-tooltip span.tags span.tag,
a.presentations_list_material_item span.tags span.tag {
    background:none;
    text-decoration:italic;
    padding:0px !important;
    margin:0px !important;
}

.material-tooltip{
    background:#fff;
    border:1px solid #ccc;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
    padding: 10px;
}

#browse_show_more a.show {
    margin-left: 40px;
}

.tagCategories {
    text-align: center;
}
.tagCategoriesCenter {
    margin-left: auto;
    margin-right: auto;
}
.tagCategoryList {
	line-height: 2.168em !important;
    margin: 10px;
    text-align: left;
}
.tagCategoryList h3 {
    margin-left: 0px;
}

.tagFilter {
    margin-top: 5px;
    margin-bottom: 10px;
}

.miniTagCloudTitle {
    margin: 10px;
    text-align: center;
}

/* Overview */

ul.mediacard-list {
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 20px;
  float: left;
}

.mediacard-list li {
  display: inline; display: inline-block;
  position: relative;
  background: url(/images/presentations/media-card.png) no-repeat 0 0;
  width: 217px;
  height: 189px;
  margin: 3px;
  text-align: left;
}

.mediacard {
  margin: 3px 4px 5px 4px;
  overflow: hidden;
}
.mediacard img.thumbnail {
  width: 209px;
  height: 115px;
}
.mediacard .description {
  margin: 4px 5px;
  height: 34px;
  overflow: hidden;
  color: #3188a1 !important;
}
.mediacard-list a h4 {
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
.mediacard-list a:hover h4 {
  border-bottom: 2px solid #3188a1;
}
.mediacard .author {
  position: relative;
  top: -2px;
}
.mediacard h4, .mediacard .author {
  width: 300px;
}
.mediacard .data {
  height: 22px;
}
.mediacard .rating {
  /*float: left;
  margin: 0 0 2px 5px;*/
  position: absolute;
  bottom: 10px;
  left: 8px;
  background: url(/images/presentations/little-media-star.png) repeat-x 0 0;
  height: 16px;
}
.mediacard .rating span { display: none; }
.mediacard .rating.rating-0 { width: 0; }
.mediacard .rating.rating-1 { width: 17px; }
.mediacard .rating.rating-2 { width: 34px; }
.mediacard .rating.rating-3 { width: 51px; }
.mediacard .rating.rating-4 { width: 68px; }
.mediacard .rating.rating-5 { width: 85px; }

.mediacard .length {
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding-left: 20px;
  background: no-repeat 0 2px;
}
.mediacard .length.type-slideshow { background-image: url(/images/presentations/media-icons/mini-slideset.png); }
.mediacard .length.type-video { background-image: url(/images/presentations/media-icons/mini-video.png); }
.mediacard .length.type-image { background-image: url(/images/presentations/media-icons/mini-image.png); }
.mediacard .length.type-other { background-image: url(/images/presentations/media-icons/mini-other.png); }


/* Tooltip */

.mediacard-list a .tooltip {
  display: none;
  position: absolute;
  left: 9px;
  top: -10px;
  width: 168px;
  height: 111px;
  background: url(/images/presentations/media-tooltip.png) no-repeat 0 0;
  padding: 9px 14px 0 14px;
  overflow: hidden;
}
* html .mediacard-list a .tooltip { /* IE 6 */
  background-color: white;
  background-image: none;
  border: #999 solid 1px;
  height: 145px;
  top: -2px;
}
.mediacard-list a:hover .tooltip { /* This just does not work for IE6 */
  display: block;
}
.mediacard-list .excrept {
  height: 70px;
  overflow: hidden;
}
.mediacard-list .excrept * {
  margin: 0;
  padding: 0;
  display: inline;
}
.mediacard-list .tooltip .date {
  position: absolute;
  bottom: 23px;
  left: 13px;
  color: #aaa;
}
.mediacard-list .tooltip .comments {
  position: absolute;
  bottom: 23px;
  right: 13px;
  color: #3188a1;
}

/* Top controls */

.media-top-control {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Add media button */

.media-add {
  float: right;
}
.media-add a {
  display: block;
  width: 129px;
  height: 22px;
  background: url(/images/presentations/add-media-button.png) no-repeat 0 0;
  margin-top: 5px;
}
.media-add a span {
  display: none;
}


/* Pagination */

ul.pagination {
  list-style-type: none;
  text-align: center;
  font-family: "Rockwell";
  margin-left: 129px;
}
ul.pagination li {
  display: inline; display: inline-block;
}
ul.pagination li.navigation {
  margin: 0 10px;
}
ul.pagination a {
  display: inline; display: inline-block;
  width: 32px;
  height: 32px;
  color: #666;
  background: url(/images/presentations/pagination-button.png) no-repeat 0 0;
  line-height: 32px;
}
ul.pagination a.selected, ul.pagination a:hover {
  color: white;
  background-image: url(/images/presentations/pagination-button-active.png);
}


/* Filter buttons */



.media-actions, .media-actions a {
  color: #666;
  font-family: "Rockwell";
}
ul.media-filter-buttons {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
.filter-by-type {
  margin: 0 30px;
}
ul.media-filter-buttons li {
  display: inline; display: inline-block;
  position: relative;
}
.media-filter-buttons a {
  display: block;
  height: 30px;
  background: url(/images/presentations/white-button-right.png) repeat-x right 0;
}
.media-filter-buttons a span {
  display: block;
  padding: 0 12px;
  line-height: 30px;
  background: url(/images/presentations/white-button-left.png) no-repeat 0 0;
}
.media-filter-buttons .filter-by-type a .type-video,
.media-filter-buttons .filter-by-type a .type-slideshow,
.media-filter-buttons .filter-by-type a .type-image,
.media-filter-buttons .filter-by-type a .type-other {
  padding: 0 0 0 22px;
  position: relative;
  left: -2px;
}
.media-filter-buttons .filter-by-type a .type-video { background: url(/images/presentations/media-icons/mini-video.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a .type-slideshow { background: url(/images/presentations/media-icons/mini-slideset.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a .type-image { background: url(/images/presentations/media-icons/mini-image.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a .type-other { background: url(/images/presentations/media-icons/mini-other.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a:hover .type-video { background: url(/images/presentations/media-icons/mini-video-red.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a:hover .type-slideshow { background: url(/images/presentations/media-icons/mini-slideset-red.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a:hover .type-image { background: url(/images/presentations/media-icons/mini-image-red.png) no-repeat 0 50%; }
.media-filter-buttons .filter-by-type a:hover .type-other { background: url(/images/presentations/media-icons/mini-other-red.png) no-repeat 0 50%; }
.media-filter-buttons a.selected, .media-filter-buttons a:hover {
  background: url(/images/presentations/red-button-right.png) repeat-x right 0;
  color: white;
}
.media-filter-buttons a.selected span, .media-filter-buttons a:hover span {
  background: url(/images/presentations/red-button-left.png) no-repeat 0 0;
}

.media-actions .rss-link a {
  position: absolute;
  top: 40px;
  background: url(/images/presentations/mini-rss.png) no-repeat 0 0;
  margin: 0 0 0 10px;
  padding: 0 0 0 20px;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  height: auto;
}
.media-actions .rss-link a:hover {
  color: #999;
  border-bottom: 2px solid #999;
}

input#media-search {
  width: 119px;
  height: 25px;
  background: url(/images/presentations/search.png) no-repeat 0 0;
  border: 0;
  position: relative;
  top: -1px;
  font-family: "Rockwell";
  padding: 5px 25px 0 5px;
  color: #999;
}
input#media-search:focus, input#media-search:hover {
  color: #666;
}






/* Lightbox */

.media-view-item {
  position: relative;
  border: #999 solid 1px;
  padding: 20px;
  width: 450px;
}
.media-view-item .close-control {
  position: absolute;
  top: 10px;
  right: 10px;
}
.media-view-item .close-control a {
  display: block;
  width: 13px;
  height: 11px;
  background: url(/images/presentations/lightbox-close.png) no-repeat 0 0;
}
.media-view-item .close-control a:hover {
  background: url(/images/presentations/lightbox-close-light.png) no-repeat 0 0;
}
.media-view-item .close-control span {
  display: none;
}

.media-view-item .header {
  padding-left: 45px;
  height: 40px;
  overflow: auto;
}
.media-view-item .header.type-slideshow { background: url(/images/presentations/media-icons/media-icons-big-gray-slideset.png) no-repeat 0 0; }
.media-view-item .header.type-video { background: url(/images/presentations/media-icons/media-icons-big-gray-video.png) no-repeat 0 0; }
.media-view-item .header.type-image { background: url(/images/presentations/media-icons/media-icons-big-gray-image.png) no-repeat 0 0; }
.media-view-item .header.type-custom { background: url(/images/presentations/media-icons/media-icons-big-gray-custom.png) no-repeat 0 0; }
.media-view-item h2 {
  font-size: 17px;
  font-weight: normal;
  color: #3188a1;
}
.media-view-item .author {
  font-size: 12px;
}

.media-view-item .embedded-item {
  margin-top: 5px;
  margin-bottom: 20px;
}

.media-view-item .info {
  line-height: 20px;
  margin-bottom: 20px;
}
.media-view-item .rating {
  width: 205px;
  height: 39px;
  margin: 10px 0;
  background: url(/images/presentations/big-media-star-empty.png) repeat-x 0 0;
}
.media-view-item .rating div {
  height: 39px;
  text-indent: -5000px;
  background: url(/images/presentations/big-media-star.png) repeat-x 0 0;
}
.media-view-item .rating-0 { width: 0; }
.media-view-item .rating-1 { width: 41px; }
.media-view-item .rating-2 { width: 82px; }
.media-view-item .rating-3 { width: 123px; }
.media-view-item .rating-4 { width: 164px; }
.media-view-item .rating-5 { width: 205px; }
.media-view-item .tags {
  background: url(/images/presentations/tag-red.png) no-repeat 0 2px;
  padding-left: 20px;
}
.media-view-item .tags, .media-view-item .upload-info {
  font-size: 11px;
}
.media-view-item .upload-info a {
  color: #3188a1;
}
.media-view-item .upload-info a:hover {
  color: #51a8c1;
}

.media-view-item .comments h2 {
  border-bottom: 1px #ddd solid;
  padding-bottom: 5px;
}

a.editbutton {
 position: absolute;
 top: -26px;
 left: 20px;
 font-size: 14px;
 padding: 4px 8px;
 background-color: white;
 border-width: 1px 1px 0 1px;
 border-color: #999;
 border-style: solid;
 color: #666;
}

a.editbutton:hover {
 color: black;
}


/* Catalogue */

.catalogue.empty {
  font-size: 40px;
  text-align: center;
}
.catalogue.empty a {
  color: #9e6505;
  border-bottom: transparent 2px solid;
}
.catalogue.empty a:hover {
  color: #be8525;
  border-bottom: #be8525 2px solid;
}




/* Media upload */

/* Top controls */

.media-top-control {
  text-align: center;
}

.media-top-control h2 {
  font-family: "Rockwell";
  font-weight: normal;
  color: #ef403c;
  margin: 0 149px;
  font-size: 26px;
}
.media-back-button {
  float: left;
  margin-top: 5px;
}
.media-back-button a {
  display: block;
  background: url(/images/presentations/back-media-button.png) no-repeat 0 0;
  width: 149px;
  height: 22px;
}
.media-back-button span {
  display: none;
}

/* Tabs */

#media-add ul.upload-options {
  list-style-type: none;
  text-align: center;
  margin: 40px 80px 80px;
  height: 46px;
  background: url(/images/presentations/gray-pixel.png) repeat-x 0 45px;
}
#media-add ul.upload-options li {
  display: inline; display: inline-block;
  position: relative;
  margin: 0 30px;
  width: 15em;
  height: 46px;
}
#media-add ul.upload-options h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 24px;
  height: 46px;
  line-height: 46px;
}
#media-add ul.upload-options li h3 a {
  color: #3188a1 !important;
  display: block;
  position: relative;
  top: 5px;
}
#media-add ul.upload-options li.unselected h3 a {
  color: #999 !important;
}
#media-add ul.upload-options li.selected {
  background: url(/images/presentations/upload-tab-right.png) repeat-x right 0;
}
#media-add ul.upload-options li.selected h3 {
  background: url(/images/presentations/upload-tab-left.png) no-repeat 0 0;
}
#media-add ul.upload-options li h3 a:hover {
  color: #51a8c1 !important;
}
#media-add ul.upload-options li .explanation {
  position: absolute;
  top: 65px;
}

/* Forms */

.media-add-form {
  width: 500px;
  margin:  auto;
}

.media-add-form .explanation {
  font-size: 82.5%;
}

/* Upload */


.media-add-form .upload .explanation {
  margin: 20px 0;
}

/* divider */

.divider {
  display: block;
  margin: 30px 0;
  background: url(/images/presentations/pink-pixel.png) repeat-x 0 50%;
  text-align: center;
}
.divider span {
  display: inline; display: inline-block;
  width: 75px;
  background: white;
  text-transform: uppercase;
  color: #ef403c;
  font-family: "Rockwell";
}

/* Embed */

.media-add-form .embed .explanation {
  float: right;
  width: 200px;
}
.media-add-form .embed .explanation strong {
  color: #9e6505;
  font-family: "Rockwell";
}
.media-add-form .embed .explanation a {
  color: #9e6505;
}

/* Fetch */

.media-add-form .fetch {
  text-align: center;
}

.media-add-form div.logos span {
  visibility: hidden;
  padding-bottom: 10px;
}
.media-add-form div.logos .youtube {
  padding-right: 10px;
  padding-bottom: 10px;
  background: url(/images/presentations/logo-youtube.png) no-repeat 0 0;
}
.media-add-form div.logos .slideshare {
  padding-right: 55px;
  padding-bottom: 10px;
  background: url(/images/presentations/logo-slideshare.png) no-repeat 0 0;
}
.media-add-form div.logos .ovi {
  padding-right: 35px;
  padding-bottom: 10px;
  background: url(/images/presentations/logo-ovi.png) no-repeat 0 0;
}

/* FIXME: Merge below to previous */

ul.mediacard-list {
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.mediacard-list li {
  display: block;
float: left;
  position: relative;
  background: url(/images/presentations/media-card.png) no-repeat 0 0;
  width: 217px;
  height: 189px;
  margin: 3px;
  text-align: left;
}

.mediacard h4, .mediacard .author {
  overflow: hidden;
width: 200px;
border: 0;
}

ul.media-filter-buttons li {
  display: block;
float: left;
}

ul.media-filter-buttons ul.filter-by-property {
width: 278px;
}

ul.media-filter-buttons ul.filter-by-type {
width: 410px;
}


ul.media-filter-buttons ul.filter-by-property li {
width: 90px;
}

ul.media-filter-buttons ul.filter-by-type li {
width: 100px;
}

ul.pagination {
  margin-left: 0px;
}

ul.pagination li {
  display: block;
float: left;
}

ul.mediacard-list {
clear: both;
}

ul.media-filter-buttons {
clear: both;
}

.media-top-control {
  margin-top: 15px;
  margin-bottom: 55px;
}

.filter-by-type {
  margin: 0 22px;
}

.media-actions {
padding-left: 5px;
}

.media-actions {
padding-bottom: 40px;
}

ul.media-filter-buttons {
  margin: 5px 0 10px 0;
  float: left;
}

.media-filter-buttons a.selected, .media-filter-buttons a:hover {
  color: white !important;
}


#comments .mceEditor iframe {
width: 100% !important;
}

.media-add-form {
width: 700px;
}

#media-add-tab-fetch-content .embed textarea {
float: left;
width: 400px;
}

.media-add-form .embed .explanation {
width: 260px;
font-size: 14px;
}

.media-add-form .embed .explanation .submitButton {
margin-top: 10px;
margin-left: 0px;
}


.media-add-form div.logos {
margin: 0px auto;
width: 185px;
display: inline;
}

#media-add-tab-fetch-content .fetch input {
clear: both;
}

.media-add-form div.submit_seed {
padding-top: 25px;
clear: both;
}

.media-add-form #media-add-tab-fetch-content .fetch p {
padding-top: 10px;
display: block;
padding-bottom: 10px;
color:#9E6505;
font-family:"Rockwell";
font-weight: bold;
}


#media-add ul.upload-options li {
  display: block;
float: left;
}


#media-add ul.upload-options p {
padding-left: 20px;
}

*:first-child+html {} * ul.upload-options li p {
position: relative;
right: 25px;
}


.media-add-form {
padding-bottom: 30px;
}

#media-add-tab-fetch-content .embed {
height: 300px;
}

*:first-child+html {} * #media-add-tab-fetch-content input.submitButton {
top: -5px;
}

#media-add-tab-upload-content .submitButton {
top: 0px;
}

*:first-child+html {} * #media-add-tab-upload-content .submitButton {
top: -5px;
}


/* Browsing specific */

.filter_hide, 
.filter_more_hide,
.filter_show,
.filter_more_show {
	display: none;
    line-height: 1px;
    font-weight: bold;
}

.filter_open .filter_hide,
.filter_closed .filter_show,
.filter_more_open .filter_more_hide,
.filter_more_closed .filter_more_show {
    display: inline;
}

#browse_header {
	min-height: 45px;
}

#browse_header .left h1 {
	border: 0;
	margin: 0;
	padding: 0;
	color: #D49603 !important;
	font-size: 20pt;
}

#browse_header .left {
	float: left;
}

#browse_header .right {
	float: right;
	position: relative;
	top: 10px;
	padding: 9px 9px 9px 10px;
	text-align: left;
	background-color: #EDEDED;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: #DCDCDC;

	/* These need to be specified for each
	 * border to work with all browsers */
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;

	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;

	-khtml-border-radius-topright: 5px;
	-khtml-border-radius-topleft: 5px;
}

#browse_filter_container {
	background-color: #F1F1F1;
	margin-bottom: 6px;
	padding: 5px;
	border: 1px solid #DCDCDC;
}

div#filter_more_container {
	display: inline;
}

.browse_selected_tags {
	overflow: hidden;
	clear: left;
	margin-bottom: 4px;
}

#browse_show_suggestions {
	background: transparent;
	color: #54A1C9;
}

html body #browse_show_suggestions a:hover,
{
	text-decoration: none !important;
}

.browse_item {
	border-top: 1px solid #E3E3E3;
	font-family: Helvetica,sans-serif;
	font-size: 10pt;
	height:auto !important;
	clear: left;
	overflow:hidden;
	padding: 10px 5px;
}

/*
.browse_item:nth-child(odd)
{
	background-color: #cfecf9;
}

.browse_item:nth-child(even)
{
	background-color: transparent;
}
*/

.browse_item .left {
	float: left;
	overflow: hidden;
}

.browse_item .right {
	float: right;
	overflow: hidden;
	width: 100px;
}

.browse_item .content {
	margin-left: 55px;
}

.browse_item .abstract {
	padding: 0;
	margin: 10px 0
}

.browse div#browse_results_header
{
	border: 0;
	padding: 0;
	margin-bottom: 4px;
}

.browse #browse_results_header h2,
.browse #browse_selected_tags h2 {
	font-size: 9pt;
	color: #666 !important;
}
.browse #browse_results_header h2 {
	border: 0;
	padding: 0;
	margin: 0;
}

#browse_results .item_content {
	margin-left: 70px;
}

.browse_item h2 {
	border: 0 none;
	margin: 12px 0;
	padding: 0;
	font-size: 12pt;
	color: #6DAACD;
}

#browse_selected_tags h2 {
	border: 0 none;
	margin: 6px 15px;
	padding: 0;
	font-size 9pt;
	float: left;
	color: #6DAACD;
}

span#browse_filter_with_keywords {
	text-align: right;
	margin: 0 1px 1px 0;
}

#browse_filter_with_keywords a {
	color: #6C9FC8 !important;
	text-decoration: none !important;
	font-size: 9pt;
}

div#browse_show_more, div#browse_loading {
	text-align: center;
}

#browse_loading {
	display: none;
}

.browse_item .tags {
	left: auto;
	right: auto;
	line-height: 1.95em !important;
}

.miniTagCloud .tag,
.tag {
	padding: 4px 8px !important;
	margin: 0 1px 1px 0;
	background-color: #DDD;
	color: #333 !important;
	font-size: 10pt;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#browse_filter_container #browse_selected_tags .tag
{
	background-color: #28B9F9;
	color: white !important;
}
 
#browse_suggestions {
	display: none;
}

#browse_no_results h2 {
	border: 0;
	padding: 0;
	margin: 0;
	border-top: 1px solid #E3E3E3;
	padding-top: 10px;
}

#browse_suggestions .tag {
	font-size: 10pt;
}

#browse_suggestions .tag:hover, #browse_suggestions .miniTagCloud a:hover {
	background-color: white !important;
}

/* Tag cloud styles, still browsing specific */
.tag_remover {
	background-color: transparent;
	color: white !important;
	font-size: 10pt;
	position: relative;
	top: 0px;
	left: -17px;
	margin-right: -10px;
}

.tag_remover:hover, .tag_remover a:hover {
	background: transparent;
	background-image: none;
	text-decoration: none !important;
}

.tag_separator {
	color: #27B9F8;
	font-size: 10pt;
	font-weight: bold;
	margin: 0 2px 0 4px;
}

.miniTagCloud .tagPrimary, 
.miniTagCloud .tagSecondary, 
.miniTagCloud .tagTertiary {
	background-color: #E8E8E8;
	font-size: 10pt;
}

.miniTagCloud .tagPrimary {
	color: #4b4b4b !important;
}

.miniTagCloud .tagSecondary {
	color: #7a7a7a !important;
}

.miniTagCloud .tagTertiary {
	color: #b3b3b3 !important;
}

.tag:hover {
	background: #37BCE4 url(/images/events/tag-hover.png) repeat-x scroll 0 0 !important;
	color: white !important;
	text-decoration:none !important;
}

.miniTagCloud {
	line-height: 2.168em !important;
    display: block;
    text-align: center;
    margin: 10px;
}

#browse_selected_container .miniTagCloud {
	line-height: 2.168em !important;
    display: inline;
    text-align: left;
}


.miniTagCloudMore {
	line-height: 2.168em !important;
    display: block;
    text-align: center;
    margin: 10px
}

.miniTagCloud a:hover {
	background: none;
}

/** Generic list specific **/

body .tool_1_column_td_1 div.toolContentBox span.boxLegend {
    display: none;
}

