<div class="sidebarContent">
<li><h2>[% welcome_header %]</h2>

    <ul>
        <li>[% hello_message %]</li>
        <li><a href="[% server %]/login">[% go_to_dicole %]</a></li>
        <li><a href="[% server %]/xlogout">[% logout %]</a></li>
    </ul>

</li>
</div>
