
<div class="sidebarContent">
<form action="[% server %]/login/" method="post">
<li><h2>[% login_header %]</h2>

    <label>[% username %]</label><input name="login_login_name" type="text" value="" />
    <label>[% password %]</label><input name="login_password" type="password" value="" />
    <input class="button" type="submit" name="submit" value="[% login %]" />
    <a href="[% server %]/lostaccount/">[% retrieve_lost %]</a>

</li>
</form>
</div>
