[%#- $Id: input_password.tmpl,v 1.4 2009-01-07 14:42:33 amv Exp $ -%]

[%- DEFAULT
	itemparams.attributes.type = 'password'
	itemparams.confirm_text = ''
-%]
<input [% 'class="req"' IF itemparams.required %][% 'class="err"' IF itemparams.error %][% FOREACH param = itemparams.attributes %] [% param.key %]="[% param.value %]"[% END %] />
[% IF itemparams.confirm %][% itemparams.attributes.name = itemparams.attributes.name _ '_confirm'  %] [% itemparams.confirm_text %] <input [% 'class="req"' IF itemparams.required %][% 'class="err"' IF itemparams.error %][% FOREACH param = itemparams.attributes %] [% param.key %]="[% param.value %]"[% END %] />
[% END %]
[%-
	IF itemparams.error || itemparams.required;
		PROCESS dicole_base::input_req_error;
	END
-%]
