<a[% IF itemparams.id %] id="[% itemparams.id %]"[% END %] href="[% itemparams.link %]" class="linkButton[% IF itemparams.class %] [% itemparams.class %][% END %]"[% IF itemparams.onclick %] onclick="[% itemparams.onclick %]"[% END %]>[% itemparams.text %]</a>
