<input type="text"
[%- IF itemparams.id %] id="[% itemparams.id | html %]"[% END %]
[%- IF itemparams.name %] name="[% itemparams.name | html %]"[% END %]
[%- IF itemparams.value %] value="[% itemparams.value | html %]"[% END %]
[%- IF itemparams.field_size %] size="[% itemparams.field_size | html %]"[% END %]
[%- IF itemparams.class %] class="[% itemparams.class | html %]"[% END %] />
