<input[% IF itemparams.id %] id="[% itemparams.id %]"[% END %] type="checkbox" name="[% itemparams.name %]" value="[% itemparams.value %]"[% IF itemparams.class %] class="[% itemparams.class %]"[% END %][% IF itemparams.onclick %] onclick="[% itemparams.onclick %]"[% END %][% IF itemparams.checked %] checked="1"[% END %] />