<a [% IF itemparams.id %] id="[% itemparams.id %]"[% END %] href="[% itemparams.link %]"[% IF itemparams.class %] class="[% itemparams.class %]"[% END %][% IF itemparams.onclick %] onclick="[% itemparams.onclick %]"[% END %][% IF itemparams.target %] target="[% itemparams.target %]"[% END %] title="[% itemparams.alt %]">
<img src="[% itemparams.src %]" alt="[% itemparams.alt %]" title="[% itemparams.alt %]"[% IF itemparams.height %] height="[% itemparams.height %]"[% END %][% IF itemparams.width %] width="[% itemparams.width %]"[% END %] />
</a>
