<img[% IF itemparams.id %] id="[% itemparams.id %]"[% END %][% IF itemparams.class %] class="[% itemparams.class %]"[% END %] src="[% itemparams.src %]" alt="[% itemparams.alt %]" title="[% itemparams.alt %]"[% IF itemparams.height %] height="[% itemparams.height %]"[% END %][% IF itemparams.width %] width="[% itemparams.width %]"[% END %] />