<link[% IF itemparams.type %] type="[% itemparams.type %]"[% END %][% IF itemparams.media %] media="[% itemparams.media %]"[% END %][% IF itemparams.rel %] rel="[% itemparams.rel %]"[% END %][% IF itemparams.title %] title="[% itemparams.title %]"[% END %] href="[% itemparams.href %]"[% IF itemparams.id %] id="[% itemparams.id %]"[% END %][% IF itemparams.class %] class="[% itemparams.class %]"[% END %] />
