<div [%- IF itemparams.id %] id="[% itemparams.id %]"[% END %] class="fancycontainer cb[%- IF itemparams.class %] [% itemparams.class %][% END %]"><div class="bt"><div></div></div><div class="i1"><div class="i2"><div class="i3">[%- FOREACH item = itemparams.contents %][% PROCESS dicole_base::include_widget widget = item %][%- END %]</div></div></div><div class="bb"><div></div></div></div>