.events_edit_info_container_freeform,
.randomnonexisting
{}

.events_show_info_container_rsvp .middle-button,
.no_group_admin_extras #new-media-button,
.no_group_admin_extras #inline-medias .button,
.no_group_admin_extras .event-header .manage-event,
.no_group_admin_extras #participant-button,
.no_group_admin_extras #invite-button,
.events_edit_info_container_stream,
.events_edit_info_container_feedback,
.events_edit_info_container_sos_med,
.events_edit_info_container_map,
.events_edit_info_container_imedia,
.events_edit_info_participant_container_no,
.events_edit_info_participant_container_maybe,
.events_edit_info_participant_container_waiting,
.events_edit_extra_container_pages,
.events_edit_extra_container_posts,
.events_edit_extra_container_twitter,
.events_edit_extra_container_pages,
.events_edit_extra_controls .events_listing_navigation,
.events_show_extra_info .events_listing_navigation,
.networking_show_profile_left,
.action_global_settings div.tool_2_column_div_1 div,
body:last-child div.networking_edit_profile_left span.boxLegend
{
    display: none;
}

.events_edit_info_container_freeform {
    display: block;
}

div.networking_edit_profile_left .blueLinks {
    margin-top: 7px;
}

div.networking_edit_profile_left .blueLinks a {
    color:#D49603 !important;
    font-weight:bold;
    margin:0 !important;
    padding:7px !important;
}

a.linkBar {
    color:#D49603 !important;
    font-weight:bold;
    margin:0 !important;
    padding:7px !important;
}

.deski_main_link_container {
    margin-top: 30px;
    margin-left: 10px;
}

#deski_paanavi_alaosa .deski_main_link {
    border-top: 0 none;
}

.yellow-button {
margin-right: 10px;
margin-top: 5px;
}

.presentations_navigation_top { display: none !important }

.presentations_navigation_featured { display: none !important }

#user_show_edit_button {
padding-right: 5px;
}


input[value="Feature"] {
display: none;
}


.confirm .cancel_delete {
padding-left: 10px;
}

#event-info .manage-event {
margin-top: 5px !important;
}

#event-info .right {
width: 192px !important;
border-left: 0px !important;
}

#event-info .left {
height: auto !important;
padding: 0px;
margin: 0px;
}


.user_details {
display: block;
}
.comment_content {
display: block;
}

#event-info .manage-event {
margin-top: 5px !important;
}


.confirm .cancel_delete {
padding-left: 10px;
}

#event-info .left .separator, #event-info .left .location {
display: none;
}

/*** Deski Sensitive ***/

/* Media navigation */

body.action_presentations_task_edit table td.tool_2_column_td_1 {
	display: none;
}

body.action_presentations_task_edit .mceEditor {
	width: 80% !important;
}

div.tool_2_column_div_2 {
	margin-bottom: 20px;
}

.verticalContent input[type="text"] {
	width: 94%;
}

input.req {
	margin: 10px 0;
}

html body .verticalContent input[type="file"] {
	margin: 10px;
}

html body input.submitButton, #tag_add_input_submit_tags, input.submitButton:active {
	padding: 4px 6px;
}

/* Login box */
div#light {
	border-bottom: 10px solid #F3A939;
	border-top: 5px solid #F3A939;
  -moz-border-radius: 5px;
}

div#light .loginHeader, div#light #light_login_button {
	background-color: #F3A939;
	font-weight: bold;
}

div#light .loginHeader, div#light #light_login_button {
	color: white;
}

div#light .loginTitle, div#light .loginLinks a {
	color: #606060;
}

div#light .loginLinks a:hover {
	background-color: transparent;
}

/* Upcoming events listing */

div.tool_2_column_div_2 {
	padding-left: 15px;
	padding-top: 4px;
}

.event .event-content {
	margin: 0;
}

.event .event-content .title a {
	color: #D49603 !important;
}

#comments_container .event_planner {
	background-color: #D6E7F1;
}

.event .right .social-media-tag {
	display: none;
}

.event:hover {
	background-image: none;
}

body:last-child div.toolContentBox span.boxLegend {
	border-bottom: 1px solid #dfdfdf;
}

div.past_events_link_container a.past_events_link_button {
	display: none;
}

/* header */

html body #deski_header {
	background: white;
	border-right: medium solid #dfdfdf;
	border-left: medium solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

a#deski_paivandeski {
	left: -3px;
}

a#deski_aiheittain {
	left: -6px;
}

a#deski_radio {
	left: -10px;
}

a#deski_video {
	left: -13px;
}

a#deski_kutsut {
	left: -17px;
}

div.contentItemContainer {
	padding: 0;
}

div#deski_header div#deski_description {
	width: 246px;
}

div#deski_description p {
	left: 8px;
	top: 37px;
	width: 225px;
}

/* BG */

#Form .tool, #Form .toolContainer {
	background-image: none;
	background: white;
	padding: 0;
}

/** Login Info **/

#deski_user a {
  color: #6c9fc8 !important;
}

a#deski_login {
	color: #D49603;
	font-weight: bold;
	position: absolute;
	top: 262px;
	left: 820px;
}

#deski_user a:hover {
  color: #6fb9f7 !important;
  text-decoration: underline;
}

div#deski_user {
  background: white;
	top: 256px;
	left: 721px;
}

.deski_main_link_container {
width: 220px;
}

/** Linkbar **/

a.linkBar {
  font-size: 14px;
  -moz-border-radius: 5px;
}

.events_listing_navigation div.contentItemContainer {
  border: none;
  background-image: none;
  background-color: none;
  -moz-border-radius: 0;
}

/* top bar */

div#deski_description {
	width: 232px;
}

/* Inline media box left */

.events_listing_navigation a.linkBar {
	background: white;
}

div.contentItemContainer .blueLinks {
	display: block;
	width: 232px !important;
}

table div.tool_2_column_div_1 {
	width: auto;
	padding: 0 10px;
}

.action_events_task_edit table div.tool_2_column_div_1 {
	width: 280px;
	padding: 0 10px;
}

table td.tool_2_column_td_1 {
	width: 232px;
	border-right: 1px solid #dfdfdf;
}

#event-extra-info {
	width: 232px;
}

#new-media-button {
	background: transparent url(/images/events/buttons.png) no-repeat scroll 0 0;
	float: left;
	overflow: hidden;
	height: 40px;
	border: 0 none;
	padding: 0;
	text-decoration: none !important;
}

#new-media-button span {
	background: transparent url(/images/events/buttons.png) repeat-x scroll 0 0;
	height: 36px;
	float: left;
	overflow: hidden;
	text-align: center;
	line-height: 36px;
	margin-left: 16px;
	padding-right: 16px;
	font-size: 11pt !important;
	text-decoration: none !important;
	color: #D49603 !important;
	font-weight: bold !important;
}

#new-media-button { background-position: 0 -40px; }
#new-media-button span { background-position: right 0; }
#new-media-button:hover { background-position: 0 -200px; }
#new-media-button:hover span { background-position: right -160px; }
#new-media-button:active { background-position: 0 -360px; }
#new-media-button:active span { background-position: right -320px; color: #000 !important; }

/********************************/


/* End of header and my account */

/* inline media */

#inline-medias .selected {
	background-color: #DAE7F1 !important;
}

#inline-medias img {
	display: block !important;
}

.inline-media .inline-media-link {
	font-weight: bold;
	font-size: 12pt;
}

html body .blue-button span {
	color: #2793CD !important;
}

html body #inline-medias .button {
	float: none;
	display: block;
	margin-top: 20px;
}

html body #inline-medias {
	line-height: 12pt;
}

html body .inline-media {
	padding: 15px;
}

/* middle section */
.action_events h1 {
	width: 500px;
	margin: 7px 0;
}

.event {
	padding: 0;
}

#event-info .date, #event-info .location {
	font-weight: normal;
}

#event-info #abstract {
	margin: 10px 0 0 10px;
}

#event-info .event-header {
	border-bottom: 1px solid #dfdfdf;
}

#event-info .manage-event {
	margin-right: 8px;
	margin-top: 18px;
}

#imedia-placeholder {
	display: block;
	margin: 15px 0 15px 0;
}

#comments_container .comment .comment_container {
	margin-bottom: 20px;
}

/* Join button */

html body #event-info #accept-button {
	margin-left: 0px;
}

/* Send chat button */

html body #event-info #chat_send {
	margin-top: 5px;
}

html body #event-info #chat_send span {
	color: #D49603 !important;
}

/* Right section */

#event-info .users-number-container, .action_events h3 {
	font-size: 16pt;
	color: #D49603 !important;
	margin-bottom: 10px;
}

#event-info .users-number {
	font-weight: normal;
}

#event-info .right #invite-button > span, 
#event-info .right #participant-button > span {
	width: 144px;
	text-align: left;
}

#event-info #participants {
	display: none;
}

#event-info #comment_add {
	border-bottom:1px solid #DFDFDF;
	margin-bottom:15px;
	padding-bottom:6px;
}

#event-info .user_details {
	color: #59A0C8 !important;
}

#event-info .date {
	color: #898A8C !important;
}

.action_events h2 {
	color: #D49603 !important;
	margin-top: 35px;
}

/* boxes */

table.toolContentAlign {
	border-left: 3px solid #dfdfdf;
	border-right: 2px solid #dfdfdf;
	border-bottom: 3px solid #dfdfdf;
	width: 972px;
}

table.toolContentAlign td {
	padding: 0;
	margin: 0;
}

#event-info .left {
	width: 428px;
	border-right: 1px solid #dfdfdf;
	padding-right: 10px;
}

#event-info .right {
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	padding: 10px;
	width: 188px;	
	position: static;
}

#event-info .right .social-media-tag, #event-info .right .social-media-description, #event-info .right .event-state, #event-info .right .event-state-description, #event-info .right hr, div.toolFeeds {
	display: none;
}

#event-info #chat_input {
	width: 429px !important;
	font-family: "Courier", monospace;
}

body {
	font-family: "Helvetica", "Arial";
	background: white;
}

.box_container {
	border: 0;	
}

.desktop_2_column_td_2 {
padding-right: 25px !important;
}

.desktopBoxTitle {
	font-family: "Rockwell", "Georgia", "Arial";
	text-transform: none;
	text-align: left;
	border: 0;
	background: transparent;
}

/*
.desktopBoxControllers {
display: none;
}
*/

.desktopBoxTitle a {
	color: #959595 !important;
	font-size: 17px;
}

.desktop_box .i3 {
	background: transparent;	
}

.toolContainer {
	background: transparent;	
}

.content {
	background: transparent;
	border: 0;	
}

span.desktopHyperlinkText {
	color: #6dac50;
	font-size: 11px;	
}

div.toolContentBox {
	border: 0;
	background: transparent;	
	margin: 0;
	padding: 0;
}

.desktopBoxTitle, div.toolContentBox span.boxLegend {
	font-family: "Rockwell", "Georgia", "Arial";
	text-transform: none;
	text-align: left;
	border: 0;
	background: transparent;
	color: #959595 !important;
	font-size: 17px;
}


div.toolContentBox span.boxLegend {
	color: #959595 !important;
border-bottom: 1px solid #d3d5d4 !important;

}

.tool_2_column_div_2 div.toolContentBox span.boxLegend { 
	color: #f7403a !important;
font-size: 26px;
border: 0px !important;
}

div.wiki_content_container {
	font-size: 14px;
	color: #535353;	
}

#navi_logo_text {
margin: 0;
padding: 0;
height: 25px;
margin-left: 10px;
padding-top: 55px;
	font-style: italic;
font-weight: normal;
	font-size: 15px;
	font-family: Verdana;
	color: gray;	
}

#navi_logo_link {
background: url("http://tori.tekes.fi/wiki/attachment/482/3276/1700/T_hor_vari.gif") 10px 5px no-repeat;
}



.horizontalContent span.horizontalContentItem a{
	color: #299bb4;	
}

.content {
	width: 960px;
	font-size: 14px;	
}

.toolContainer {
	width: 960px;
	margin: 0 auto;
	float: none;	
}

.desktopBoxControllers {
background: transparent;
border: 0;
}


input.submitButton, #tag_add_input_submit_tags, input.submitButton:active {
background: #f7c339;
color: #a46000;
letter-spacing: 0px;
text-transform: none;
	font-family:Rockwell,Georgia,serif;
padding: 2px;
padding-left: 4px;
padding-right: 4px;
border: 0px;
  -moz-border-radius-bottomleft: 3px !important;
  -moz-border-radius-bottomright: 3px !important;
  -moz-border-radius-topleft: 3px !important;
  -moz-border-radius-topright: 3px !important;
}

input.submitButton:hover, #tag_add_input_submit_tags:hover {
background: #f7c339;
color: #76490a;
}


a.linkButton, a.linkButton:active, a.linkButton:visited, a.linkButton:link, .loginLink {
background: #f7c339;
color: #a46000;
letter-spacing: 0px;

text-transform: none;
font-weight: normal;
	font-family:Rockwell,Georgia,serif;
padding: 3px;
padding-left: 7px;
padding-right: 7px;
border: 0px;
  -moz-border-radius-bottomleft: 3px !important;
  -moz-border-radius-bottomright: 3px !important;
  -moz-border-radius-topleft: 3px !important;
  -moz-border-radius-topright: 3px !important;
}

a.linkButton:hover, .loginLink:hover {
color: #76490a;
background: #f7c339;
}

body { background: white url(/images/bantora/bgr_ee_top.gif) repeat-x scroll 0 0 !important; }

.horizontalContent span.horizontalContentItem a {
color: #959595;
}

.horizontalContent span.horizontalContentItem a.linkButton {
color: #a46000 !important;
}

input[type=text], input[type=password], textarea, select {
border: 1px dotted #89af76;
background: #fcfdfe;
}

.networking_profile_card {
background:white none repeat scroll 0 0;
border-color:#89af76 #89af76 #89af76;
border-style:dotted;
border-bottom-style: solid;
border-width:1px 1px 2px;
float:left;
height:120px;
margin-bottom:12px;
margin-left:5px;
margin-right:5px;
width:270px;
color: #959595;
}

.networking_profile_card_info a {
color:#6dac50 !important;
font-size:16px;
font-family: rockwell;
font-weight:normal;
}

.wiki_attachments_container {
background: #edf6fa;
padding: 20px;
  -moz-border-radius: 8px !important;
}

.wiki_attachments_container .definitionHeader {
display: none;
}

.wiki_attachments_container input.submitButton {
margin-top: 10px;
}

.wiki_attachments_list_container {
background: white;
padding: 10px;
border: 1px dotted #b9b9b9;
margin-bottom: 15px;
}

.qt_temp_disabled {
list-style-type: none;
}
.qt_temp_floating {
list-style-type: none;
}

body {
  background: #f2f2f2 url('http://tori.tekes.fi/wiki/attachment/482/3276/1613/tekes-topbar.png') repeat-x 0 0 !important;
}

.content {
  width: 982px;
margin:0px 0px;
}
style {
  display: none;
}
.tool {
  background: transparent url('http://tori.tekes.fi/wiki/attachment/482/3276/1611/tekes-contentbackground.png') repeat-y 0 0;
}
.toolContainer {
  background: transparent url('http://tori.tekes.fi/wiki/attachment/482/3276/1612/tekes-contentbottom.png') no-repeat bottom left;
  width: 960px;
  padding: 0 11px 34px 11px;
}
.toolContentContainer {
  float: none;
  height: 100%;
}

/* Header */

#navi_header {
  margin: 37px 0 0 0;
  background: transparent url('http://tori.tekes.fi/wiki/attachment/482/3276/1611/tekes-contentbackground.png') repeat-y 0 0;
border: none !important;
}

#navi_logout_link {
margin-right: 16px;
}

#navi_login_link {
margin-right: 16px;
}

#navi_actions {
margin-top: 0px;
margin-left: 10px;
}

/* General */

.desktopBoxContent {
  background-color: transparent;
}

/* Titles */



/* Networking */



/* Footer */

.footer {
  border: none;
  background-color: transparent;
}


/* ***************** */

body, .desktopBoxTitle, .networking_profile_card_info a {
  font-family: Arial, Helvetica, sans-serif !important;
}
h1, h2, h3, h4, h5, h6,
.desktopBoxTitle,
.desktopBoxTitle a,
.boxLegend,
.boxLegend a,
body div.toolContentBox span.boxLegend,
body .tool_2_column_div_2 div.toolContentBox span.boxLegend {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #d49603 !important;
  border-bottom: none;
}
.desktopBoxTitle a:hover {
  border-bottom: 2px solid #d49603;
}

.networking_profile_prof_description_title {
color:#D49603 !important;
font-size: 16px;
letter-spacing: 2px;
padding-bottom: 4px;
border-bottom: 1px solid #ccc;
margin-bottom: 6px;
display: block;
}

.combined_list .element a.summary_list_author {
color: gray !important;
}

.combined_list .element a.summary_list_title {
font-size: 16px;
}

.blogs_seed_listing_promoted {
display: none;
}


.desktop_3_column_div_3 {
width: 280px !important;
background: white;
}

body {
  text-align: center;
  background-image: none !important;
  font-size: smaller;
}
.content {
  width: 972px;
  margin: 0 auto;
  text-align: left;
  font-size: 100%;
}
.toolContainer {
  width: 972px;
}
#navi_header {
  margin-top: 0px !important;
}

.events_listing_tags {
	display: none;
}

/* Summary column widths */

table.desktopBoxContainer {
  width: 970px;
  overflow: hidden;
}

.desktop_3_column_td_1 {
  width: 190px !important;
}
.desktop_3_column_div_1 {
  width: auto !important;
}
.combined_list .element a.summary_list_title {
  font-size: 12px;
  line-height: 16px;
}

.desktop_3_column_td_2 {
  width: 460px !important;
  overflow: hidden;
}

.desktop_3_column_td_3, .desktop_3_column_div_3 {
  width: 200px !important;
}

.desktopBoxContent {
  padding: 0 !important;
  margin: 0 !important;
}
td.desktopBoxTitle {
  padding: 8px 0;
}
/* Make images certain max length in left column */
.tool_2_column_td_1 embed,
.tool_2_column_td_1 object,
.tool_2_column_td_1 img {
	max-width: 340px;
	/* IE Hack */
	width:expression(if(this.clientWidth>340)this.width=340);
}

.desktop_3_column_td_1 embed, .desktop_3_column_td_3 embed,
.desktop_3_column_td_1 object, .desktop_3_column_td_3 object, 
.desktop_3_column_td_1 img, .desktop_3_column_td_3 img  {
	max-width: 240px;
	/* IE Hack */
	width:expression(if(this.clientWidth>240)this.width=240);
}

.desktop_3_column_td_3 .contentItemContainer p { padding-left: 3px }

#event-info #chat_input {
width: 360px !important;
margin-top: 5px;
}

div.events_entry_container img {
display:block;
padding-right: 20px;
}

.verticalContent a.events_navigation_upcoming {
display: none;
}

.verticalContent a.events_navigation_past {
border-top: 0 none;
}


/* IE 6 shaisse hack */
</style>
<!--[if lt IE 8]>
<style>
	#event-info .right	{
		width: 150px !important;
	}

	#event-info #chat_input {
		width: 350px !important;
		font-family: "Courier", monospace;
	}
</style>
<![endif]-->
<style type="text/css">
