<label for="at_bg_image">[% MSG("Background image url") | html %]:</label>
<input id="at_bg_image" name="at_bg_image" value="[% at_bg_image | html %]" />
<br/>
<label for="at_bg_color">[% MSG("Background color") | html %]:</label>
<input id="at_bg_color" name="at_bg_color" value="[% at_bg_color | html %]" />
<br/>
<br/>
<label for="at_logo_background_image">[% MSG("Logo background image") | html %]:</label>
<input id="at_logo_background_image" name="at_logo_background_image" value="[% at_logo_background_image | html %]" />
<br/>
<label for="at_logo_background_position">[% MSG("Logo background position") | html %]:</label>
<input id="at_logo_background_position" name="at_logo_background_position" value="[% at_logo_background_position | html %]" />
<br/>
<label for="at_logo_width">[% MSG("Logo width") | html %]:</label>
<input id="at_logo_width" name="at_logo_width" value="[% at_logo_width | html %]" />
<br/>
<label for="at_logo_height">[% MSG("Logo height") | html %]:</label>
<input id="at_logo_height" name="at_logo_height" value="[% at_logo_height | html %]" />
<br/>
<label for="at_logo_text">[% MSG("Hide logo text") | html %]:</label>
<input id="at_logo_text" name="at_logo_text" type="checkbox"[% IF at_logo_text %] checked="checked"[% END %] />
<br/>
<br/>
<label for="at_logo_text_left">[% MSG("Logo text left") | html %]:</label>
<input id="at_logo_text_left" name="at_logo_text_left" value="[% at_logo_text_left | html %]" />
<br/>
<label for="at_logo_text_top">[% MSG("Logo text top") | html %]:</label>
<input id="at_logo_text_top" name="at_logo_text_top" value="[% at_logo_text_top | html %]" />
<br/>
<label for="at_logo_text_height">[% MSG("Logo text height") | html %]:</label>
<input id="at_logo_text_height" name="at_logo_text_height" value="[% at_logo_text_height | html %]" />
<br/>
<label for="at_logo_text_color">[% MSG("Logo text color") | html %]:</label>
<input id="at_logo_text_color" name="at_logo_text_color" value="[% at_logo_text_color | html %]" />
<br/>
<label for="at_logo_text_size">[% MSG("Logo text size") | html %]:</label>
<input id="at_logo_text_size" name="at_logo_text_size" value="[% at_logo_text_size | html %]" />
<br/>
<br/>
<label for="at_logo_text_non_italic">[% MSG("Logo text not italic") | html %]:</label>
<input id="at_logo_text_non_italic" name="at_logo_text_non_italic" type="checkbox"[% IF at_logo_text_non_italic %] checked="checked"[% END %] />
<br/>
<br/>
<label for="at_logo_text_non_bold">[% MSG("Logo text not bold") | html %]:</label>
<input id="at_logo_text_non_bold" name="at_logo_text_non_bold" type="checkbox"[% IF at_logo_text_non_bold %] checked="checked"[% END %] />
<br/>
<br/>
<label for="at_desktop_basic_3_column">[% MSG("basic 3 column desktop widths") | html %]:</label>
<input id="at_desktop_basic_3_column" name="at_desktop_basic_3_column" type="checkbox"[% IF at_desktop_basic_3_column %] checked="checked"[% END %] />
<br/>
<label for="at_desktop_basic_3_column_total_width">[% MSG("basic 3 column desktop custom total width (970)") | html %]:</label>
<input id="at_desktop_basic_3_column_total_width" name="at_desktop_basic_3_column_total_width" value="[% at_desktop_basic_3_column_total_width | html %]" />
<br/>
<label for="at_desktop_basic_3_column_left_width">[% MSG("basic 3 column desktop custom total left (190)") | html %]:</label>
<input id="at_desktop_basic_3_column_left_width" name="at_desktop_basic_3_column_left_width" value="[% at_desktop_basic_3_column_left_width | html %]" />
<br/>
<label for="at_desktop_basic_3_column_center_width">[% MSG("basic 3 column desktop custom total center (420)") | html %]:</label>
<input id="at_desktop_basic_3_column_center_width" name="at_desktop_basic_3_column_center_width" value="[% at_desktop_basic_3_column_center_width | html %]" />
<br/>
<label for="at_desktop_basic_3_column_right_width">[% MSG("basic 3 column desktop custom total right (200)") | html %]:</label>
<input id="at_desktop_basic_3_column_right_width" name="at_desktop_basic_3_column_right_width" value="[% at_desktop_basic_3_column_right_width | html %]" />
<br/>
<br/>
<label for="at_hide_navi_actions">[% MSG("Hide navi actions") | html %]:</label>
<input id="at_hide_navi_actions" name="at_hide_navi_actions" type="checkbox"[% IF at_hide_navi_actions %] checked="checked"[% END %] />
<br/>
<br/>
<label for="at_hide_tool_icons">[% MSG("Hide tool icons") | html %]:</label>
<input id="at_hide_tool_icons" name="at_hide_tool_icons" type="checkbox"[% IF at_hide_tool_icons %] checked="checked"[% END %] />
<br/>
<label for="at_navi_tool_text_color">[% MSG("Navi tool text color") | html %]:</label>
<input id="at_navi_tool_text_color" name="at_navi_tool_text_color" value="[% at_navi_tool_text_color | html %]" />
<br/>
<br/>
<label for="at_hide_wiki_stuff">[% MSG("Hide wiki stuff") | html %]:</label>
<input id="at_hide_wiki_stuff" name="at_hide_wiki_stuff" type="checkbox"[% IF at_hide_wiki_stuff %] checked="checked"[% END %] />
<br/>
<br/>
<label for="at_hide_desktop_controls">[% MSG("Hide desktop controls") | html %]:</label>
<input id="at_hide_desktop_controls" name="at_hide_desktop_controls" type="checkbox"[% IF at_hide_desktop_controls %] checked="checked"[% END %] />
<br/>
<br/>
<input type="submit" name="save" value="Save" />
