Dear Recipient,

Someone requested a new user account on: [% server_name %] and gave
this email address as their contact. If this was you, you can login
using the username and password below.

Once you are properly logged in, you can modify your profile and
password through the personal configuration.

Account information, for your records:
Username: [% login %]
Password: [% password %]

We hope you enjoy our service at [% server_name %].

The Management

PS: Note that if you do not login within 48 hours your account will
be removed and you would have to register again.
