<div id="paypal-cancel-wrapper">
    <div id="paypal-cancel">
        <h2>Susbcription cancelled</h2>
        <p>Cancelled!</p>
    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
