<div id="bb-content">
    <div id="logout-wrap">
        <div class="m-modal">
            <div class="modal-header">
                <h3>
                    [% MTN.t('You have successfully logged out') %]
                </h3>
            </div>
            <div class="modal-content">
                <p>
                [% MTN.t('Use 5 seconds to share Meetin.gs with your friends:') %]
                </p>

                <p>
                    <span class='st_linkedin_vcount' displayText='LinkedIn' st_url="http://www.meetin.gs" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer" st_image="http://www.meetin.gs/wp-content/themes/platformpro-meetings/images/meetings_about_page.png"></span>
                    <span  class='st_twitter_vcount' displayText='Twitter' st_url="http://www.meetin.gs/" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer"></span>
                    <span  class='st_email_vcount' displayText='Email' st_url="http://www.meetin.gs" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer" st_image="http://www.meetin.gs/wp-content/themes/platformpro-meetings/images/meetings_about_page.png" st_summary="With Meetin.gs it is simple to organize online and face-to-face meetings and collaborate around material, notes and agenda."></span>
                    <span  class='st_facebook_vcount' displayText='Facebook' st_url="http://www.meetin.gs"></span>
                </p>

                <p style="margin-top:14px;">
                [% MTN.t('For  feedback, please head over to our %(L$support forums%).',{ L => { attributes => { class => 'underline', href => 'http://support.meetin.gs' } } })%]
                </p>

            </div>
            <div class="modal-footer">
                <div class="buttons right">
                    <a class="button pink" href="/login/">
                        [% MTN.t('Log in again') %]
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="push"></div>
</div> <!-- End content wrapper -->
<div id="bb-footer"></div>
