<div class="generic-box-wrapper">
    <div id="enter-meeting" class="generic-box modal-popup">
        <!-- Email sent -->
        <h2 class="modal-header" style="text-align:left;">[% MTN.t('Check your email to continue') %]</h2>
        <p>[% MTN.t('Since you have had an account with Meetin.gs before, we have sent an email to %(B$%1$s%). Please click the link within the email to continue.',[target_email]) %]</p>
        <p>[% MTN.t('To ensure safe delivery of email from us in the future, please add %(L$info@meetin.gs%) to your address book.',{ L => { attributes => { href => 'mailto:info@meetin.gs'} }}) %]</p>
        <hr/>
        <div style="margin:5px 0 20px 0; text-align:center;">

            <span class='st_linkedin_vcount' displayText='LinkedIn' st_url="http://www.meetin.gs" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer" st_image="http://www.meetin.gs/wp-content/themes/platformpro-meetings/images/meetings_about_page.png"></span>
            <span  class='st_twitter_vcount' displayText='Twitter' st_url="http://www.meetin.gs/" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer"></span>
            <span  class='st_email_vcount' displayText='Email' st_url="http://www.meetin.gs" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer" st_image="http://www.meetin.gs/wp-content/themes/platformpro-meetings/images/meetings_about_page.png" st_summary="With Meetin.gs it is simple to organize online and face-to-face meetings and collaborate around material, notes and agenda."></span>
            <span  class='st_facebook_vcount' displayText='Facebook' st_url="http://www.meetin.gs"></span>

        </div>
    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
