<div id="summary">
    <div id="cover"></div>
    <div id="cover-loader"></div>
    <div id="summary-nav" class="top-bar">
        <h3><a href="#" data-track="Clicked upcoming in summary" class="upcoming">[% MTN.t('Upcoming') %]</a></h3>
        <h3><a href="#" data-track="Clicked past in summary" class="past disabled">[% MTN.t('Past') %]</a></h3>
        <a href="/meetings/user/settings/calendar" class="calendar-connect"><i class="ico-calendar"></i>[% MTN.t('Add to calendar') %]</a>
    </div>
    <div id="summary-content">
    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
