<div id="secure-login-info-wrapper">
    <div id="secure-login-info" class="alpha_png">
        <p>[% MTN.t('This meeting is secure. We have sent you an email with a secure login link.') %]</p>
    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
