<div id="beta-signup-box-wrapper">
	<div id="beta-signup-box" class="modal-popup">
		<h2 class="modal-header">[% MTN.t('Hi %1$s!',[name]) %]</h2>
		<p>[% MTN.t('All email to you from Meetin.gs is currently being redirected to %1$s! Please check the inbox for that address to find your log in link for Meetin.gs.',[target_email]) %]<p>
		<p>[% MTN.t('If this is a mistake you can recover your account by clicking %(L$this link%).', { L => { href => recover_url } } ) %]<p>
	</div>
</div>
