    <div id="meetings-connect-service" class="m-modal">
        <div class="modal-header">
            <h3>
                [% MTN.t('We did not find any connected accounts') %]
            </h3>
        </div>

        <div class="modal-content">
            <form id="meetings_connect_service_account_form" class="m-form">
                    <input type="hidden" name="service_user_id" value="[% service_user_id %]" />
                    <input type="hidden" name="url_after_action" value="[% url_after_action %]" />
                    <input type="hidden" name="state" value="[% state %]" />
                    <p>[% MTN.t('Your %1$s account is not yet connected to any existing Meetin.gs account. If you are already an user, please give us the email address you are using Meetin.gs with.',[service_type]) %]</p>
                    <p>[% MTN.t('We will send you an email which you can use to confirm that you would like to log in to Meetin.gs with your %1$s account in the future.',[service_type]) %]</p>

                    <label class="inline" for="email">[% MTN.t('Email') %]
                        <input type="text" name="email" value="[% email | html %]" />
                    </label>
            </form>
        </div>

        <div class="modal-footer">
            <div class="buttons right">
                <a href="#" class="button blue js_meetings_connect_service_account_submit" id="service_email_submit">
                    [% MTN.t('Connect') %]
                </a>
                <a class="button gray" href="/meetings/login">
                    [% MTN.t('Back to login') %]
                </a>
            </div>
        </div>

    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
