<div id="meetings-paypal-confirm-wrapper">
    <div id="meetings-paypal-confirm" class="alpha_png">
        <p>
            Confirm your subscription.
        </p>

        <p>
            Subscription data here.
        </p>

        <p>
            <form action="[% confirm_url %]" method="POST">
                <button class="button pink" style="width:240px; font-size:20px;">Confirm</button>
            </form>
        </p>
    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
