<div id="error-page-wrapper">
    <img src="/images/meetings/404.png" alt="Page not found." />
    <p>[% MTN.t('Sorry, this page does not exist.') %]</p>
    <p>[% MTN.t("Here's a link back to the %(L\$Meeting timeline%).",{ L => { href => '/meetings/summary'}}) %]</p>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
