<div id="beta-signup-box-wrapper">
    <div id="beta-signup-box" class="modal-popup">
        <h2 class="modal-header" style="text-align:left;">[% MTN.t('Thanks! Now check your inbox.') %]</h2>
        <p>[% MTN.t('You can send the invites after clicking the link we sent you.') %]</p>
        <div style="margin:5px 0 20px 0; text-align:center;">

            <span class='st_linkedin_vcount' displayText='LinkedIn' st_url="http://www.meetin.gs" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer" st_image="http://www.meetin.gs/wp-content/themes/platformpro-meetings/images/meetings_about_page.png"></span>
            <span  class='st_twitter_vcount' displayText='Twitter' st_url="http://www.meetin.gs/" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer"></span>
            <span  class='st_email_vcount' displayText='Email' st_url="http://www.meetin.gs" st_title="Meetin.gs - Free, Easy and Better Online Meeting Organizer" st_image="http://www.meetin.gs/wp-content/themes/platformpro-meetings/images/meetings_about_page.png" st_summary="With Meetin.gs it is simple to organize online and face-to-face meetings and collaborate around material, notes and agenda."></span>
            <span  class='st_facebook_vcount' displayText='Facebook' st_url="http://www.meetin.gs"></span>
        </div>
        <p>[% MTN.t('For feedback, please head over to our %(L$support forums%).', { L => { attributes => { target => '_blank' } } }) %].</p>
    </div>
</div>
<div id="push"></div>
</div><!-- End content wrapper -->
<div id="bb-footer"></div>
