<!-- Template chooser -->
<div id="action-chooser-wrapper">
</div>

<!-- Notifications about next actions -->
<div id="next-action">
</div>

<div id="meeting" class="alpha_png">
    <!-- Div to disable contents -->
    <div id="cover"></div>
    <div id="cover-loader"></div>

    <!-- Position helper for invite guide -->
    <div id="invite-guide-positioner">
    </div>

    <!-- Position helper for manage guide -->
    <div id="manage-guide-positioner">
    </div>

    <!-- Position helper for title guide -->
    <div id="title-guide-positioner">
    </div>

    <!-- Position helper for date guide -->
    <div id="date-guide-positioner">
    </div>

    <!-- Meeting top part -->
    <div id="meeting-top">
    </div>

    <!-- Meeting room button -->
    <div id="meeting-center-bar-wrapper">
    </div>

    <!-- Meeting scheduler -->
    <div id="js_meetings_scheduler"></div>

    <!-- Meeting RSVP -->
    <div id="js_meetings_rsvp_bar"></div>

    <!--  Meeting main part -->
    <div id="meeting-main">

        <!-- Guide position helpers -->
        <div id="meeting-materials-guide-positioner">
        </div>
        <div id="current-material-guide-positioner">
        </div>

        <!--  Meeting left column -->
        <div id="meeting-main-left">

            <!-- Meeting materials -->
            <div id="meeting-materials">

                <div id="meeting-materials-container">
                    <p class="no-material-message">
                    <img src="/images/meetings/ajax_loader.gif" alt="[% MTN.t('Loading...') %]"/>
                    </p>
                </div>
                <div id="material-uploads" class="js_meetings_dnd_upload material-uploads js_meetings_add_material_open">
                </div>

            </div>

            <!-- Meeting sharing options -->

            <div id="meeting-mobile-sharing">
                <a href="#" class="js_meetings_mobile_upload_instructions_open">
                    <p><i class="ico-mobile"></i>[% MTN.t('Mobile upload instructions') %]</p>
                </a>
            </div>

            <div id="meeting-meeting-cancel-container">
            </div>
        </div>

        <!-- Meeting main column -->
        <div id="meeting-main-right">
            <div id="meetings_material_container">
                <div id="meetings_inplace_main_container">
                    <!-- JS FETCHED CONTENT -->
                </div>
            </div>
        </div>

    </div>
    <div style="clear:both" ></div>
</div>

<div id="push"></div>
</div>
<div id="bb-footer"></div>
