<div id="content-wrapper">
    <div id="external-header-wrapper">
        <div id="header">
            <div id="header-logo">
                <a href="http://meetin.gs">
                    <h1></h1>
                </a>
            </div>
            <div id="header-buttons">
                <a class="login" href="http://meetin.gs/login">[% MTN.t('LOG IN') %]</a>
            </div>
            <div id="header-nav">
                <ul>
                    <li class="first">
                    <a href="http://meetin.gs">[% MTN.t('Home') %]</a>
                    </li>
                    <li>
                    <a href="http://www.meetin.gs/about/">[% MTN.t('About') %]</a>
                    </li>
                    <li>
                    <a href="http://www.meetin.gs/features/">[% MTN.t('Features') %]</a>
                    </li>
                    <li>
                    <a href="http://www.meetin.gs/pricing/">[% MTN.t('Pricing') %]</a>
                    </li>
                    <li>
                    <a href="http://www.meetin.gs/pricing/">[% MTN.t('Press') %]</a>
                    </li>
                    <li class="last">
                    <a href="http://www.meetin.gs/blog/">[% MTN.t('Blog') %]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
