<div id="content-wrapper">
    <div id="header-wrapper">
        <div id="header">
            <!-- Header logo -->
            <div id="header-logo">
                <a href="[% IF starting_url %][% starting_url %][% ELSE %]http://meetin.gs/[%END%]">
                    <h1 class="[% IF pro_user %]pro[% END %]">
                    </h1>
                </a>
            </div>
        </div>
    </div>
