[%#
search_term => 'Searched user',
%]

<div class="networking_search_by_name">
	<input id="networking_search_input" name="new_search" value="[% search_term | html %]" /> <input type="submit" id="find" name="find" value="->" style="display:none" />
</div>
